$bg-dark: #212529;
$bg-light: #f8f9fa;
$error-color: #dc3545;

$off-white: #ededed;

// Shadow
$shadow-1: 0 2px 6px 0px rgba(0, 0, 0, 0.25);

// TOAST

$toast-bg: #eef4f7;
$toast-body-bg: #f8f9fa;
$toast-border-radius: 0.25rem;
$toast-header-color: #000000;
$toast-body-color: #000000;
$toast-header-padding: 0.5rem;
$toast-body-padding: 1rem 0.5rem;
$toast-border-color: #dee2e6;
